.header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin: 20px 30px;
	font-weight: bold;
}
.header-center {
	display: flex;
	color: #0f5c8a;
	a {
		margin: 0px 10px;
		text-decoration: none;
		color: inherit;
	}
	.active {
		color: white;
	}
}

// .header-center >
